<div id="hello_tmpl">
    <form class="form_hello">
        <input type="text" class="txt_name" placeholder="Enter your name: ">
        <input type="text" class="txt_lastname" placeholder="Enter your lastname: ">
        <button type="submit" class="submit_me_btn">Submit me</button>
        <button type="button" class="reset_me_btn">Reset me</button>
    </form>
</div>